@import "../variables.css";

.empty-message{
    opacity: 30%;
}

.parent-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
  position: relative;
  /* background-color: #795b33; */
  height: 550px;
  border-radius: 20px;
}

/* 
.chat-title-container {
  display: flex;
  align-items: center ;
  justify-content: center;
  width: 1300px;
  height: 110px;
  margin-bottom: 20px;
  background-color: var(--secondary-fg-color);
  border-radius: 8px;
} */

.chat-container {
  height: 480px;
  justify-self: center;
  overflow: auto;
  scroll-behavior: smooth;
}

/* Message Bubble */
.message-container {
  max-width: 600px;
  min-width: 400px;
  min-height: 50px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 4px;
  background-color: #90B4CE;
  border-radius: 25px;
}

.message-container-me {
  max-width: 700px;
  min-width: 400px;
  min-height: 50px;
  margin-left: 538px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 4px;
  background-color: #90B4CE;
  border-radius: 25px;
}

.text-container {
    margin-left: 20px;
    text-align: left;
}

.contact {
  margin-bottom: 0px;
  color: #795b33;
}

.message {
  margin-top: 0px;
}

/* Message Send */
.form-container {
  display: flex;
  justify-content: center;
}

.send-message {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 20px;
  height: 40px;
  width: 500px !important;
  background-color: #E8F0F5 !important;
  border: none;
  border-top-left-radius: 30px !important;
  border-bottom-left-radius: 30px !important;
  font-size: 16px;
  outline: none !important;
  box-shadow: none
}

.send-message:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important; 
  background-color: #E8F0F5 !important;
  box-shadow: none
}

.send-button {
  height: 40px;
  margin-left: -6px !important;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 20px;
  border: none !important;
  border-color: #E8F0F5 !important;
  background-color: #E8F0F5 !important;
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}

.send-button:hover {
  background-color: #E8F0F5!important;
  box-shadow: none !important; 
}

.send-button:focus {
    background-color: #E8F0F5 !important;
    box-shadow: none !important; 
  }

.send-container {
  position: absolute;
  /* position: sticky; */
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}