.topbar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-top: 40px;
}

.recipesh1 {
  margin-right: 15px; /* Updated from padding to margin for consistency */
}
.edamam-button {
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 20px; /* Add margin to the right for spacing */
  color: #6acc00;
}



.input-search {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px; /* Set a fixed width */
  min-width: 300px; /* Ensure it doesn't shrink below this width */
  max-width: 700px;
}

.search-button {
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 20px;
}

.any-type{
  min-width:200px;
}
.sorting-dropdown, .cuisine-type , .any-type{
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  min-width:200px;
  margin-right: 20px;
  max-width:200px;
}

.user-recipes, .edamam-recipes {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; /* Align items to the left */
  gap: 20px; /* Space between cards */
  padding: 20px; /* Padding around the container */
}

.recipesh1,
.recipe-name {
  color: black;
  font-size: 36px;
}

.IndividualRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: lightblue;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px; /* Set a maximum width for the card */
  overflow: hidden; /* Handle any overflow */
}

.IndividualRecipe:hover {
  transform: scale(1.05);
}

.recipe-link {
  text-decoration: none;
  color: black;
  text-align: center;
}

.recipe-image {
  align-items: center;
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 10px;
}

.bookmark-icon {
  margin-top: 10px;
}

/* Styles for star rating */
.star-rating {
  display: flex;
  align-items: center;
}

.star {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-color: #ffd700;
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.star.empty {
  background-color: #e0e0e0;
}

.star.quarter {
  background: linear-gradient(to right, #ffd700 35%, #e0e0e0 35%);
}

.star.half {
  background: linear-gradient(to right, #ffd700 50%, #e0e0e0 50%);
}

.star.three-quarter {
  background: linear-gradient(to right, #ffd700 65%, #e0e0e0 65%);
}

.rating {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Ensures space between elements */
  width: 100%; /* Take full width of parent container */
  padding: 5px;
}

.rating-text {
  margin-left: 10px; 
  font-size: 16px; 
}

.number-of-reviews {
  margin-left: auto; 
  font-size: 14px;
  color: #666; 
}

.timer-image {
  width: 25px;
  height: 25px;
  object-fit: cover;
  border-radius: 5px;
}

.time-and-author {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%; 
}

.time-and-author p {
  margin: 0; 
}

.time-and-author .author {
  margin-left: auto; 
}

.IndividualRecipe {
  height: 700px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}
.loader {
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
  display: inline-grid;
}
.loader:before,
.loader:after {
  content:"Loading...";
  grid-area: 1/1;
  -webkit-mask:linear-gradient(90deg,#000 50%,#0000 0) 0 50%/2ch 100%;
  animation: l11 1s infinite cubic-bezier(0.5,220,0.5,-220);
}
.loader:after {
  -webkit-mask-position:1ch 50%;
  --s:-1;
}
@keyframes l11 {100%{transform: translateY(calc(var(--s,1)*0.1%));}}

