@import '../variables.css';

.main-page {
    display: flex;
    flex-direction: column;
}

.main-content {
    margin-left: 110px;
    margin-right: 15px;
}

.header {
background-color: pink !important;
/* m-width: none; */
}

.card {
    background-color: var(--card);
    border-radius: 20px;
}